:root{
    --colorheader: #000D13;
    --colorFuente: #f5f6f6; 
}
body{
    font-family: 'Comfortaa', cursive, sans-serif;
}

hr{
    margin-bottom: 0;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--colorheader);
    transition: 2s;
    
}

.header img{
    margin-left: 30px;
}

.items{
    display: flex;
    
}

.items li{
    list-style: none;
    margin-left: 20px;
}

.items:last-child{
    margin-right: 30px;
}

.items li a{
    color: var(--colorFuente);
    text-decoration: none;
    
}
.items li a:hover{
    color: teal;
}

.sidebar h3, .lastnews{
    padding-left: 10px;
    color: white;
    border-bottom: 1px solid white;
    margin: 7px 10px 0 10px;
}

.sidebar{
    box-sizing: border-box;

}

.container-table h2{
    background: aqua;
    padding: 8px 15px;
    color: azure;
}

.arancel{
    display: flex;
    align-items: flex-end;
}


.alineacion li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}


.contenedor2{
    width: 700px;
    margin-left: 50px;
    background: beige;
    padding: 20px 150px 20px 20px;
}


.contenedor h3{
    background-color: var(--colorheader);
    display: inline-block;
    color: whitesmoke;
    padding: 10px;
    margin-top: 0;
}

.curia h3, .celebrations h3{
    padding-right: 100px;
}

.consideraciones h6{
    color: red;
    margin-left: 10px;
}

.footer{
  
    height: 200px;
   
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background: var(--colorheader);

}

.footer-image{
    width: 200px;
}

.data{
  color: white;
  font-size: 15px;  
    
}

.data p:hover, .menu-footer a:hover, .menu-footer2 a:hover{
    color: teal;
}

.menu-footer a, .menu-footer2 a{
    color: white;
    text-decoration: none;
}


.menu-footer2 li, .menu-footer li{
    list-style: none;
    margin-bottom: 10px;
}



.copyright{
    background: #192F4C ;
    text-align: center;
   font-size: 10px;  
}

.copyright p{
    margin: 0;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.schedule .day1, .day2, .day3{
    display: flex;
    justify-content: center;
}

.schedule{
    border: 1px solid black;
    margin: -39px 160px 50px 160px;
    padding-top: 36px;
    z-index: -5;
}

.day1 p, .day2 p, .day3 p{
    margin-right: 26px;

}
.day2, .day3{
    margin-left: 63px;
}

.redes a{
    text-decoration: none;
    color: rgb(248, 1, 1);
}

.redes a:hover{
    color: rgb(117, 8, 26);
}

.redes i{
    font-size: 30px;
    color: #3B5998;
    margin-right: 10px;
}



/*****************tabla*************************/
