:root{
    --colorheader: #03045e;
    --colorFuente: #f5f6f6; 
}
body{
    font-family: 'Comfortaa', cursive, sans-serif;
}

hr{
    margin-bottom: 0;
}

nav{
    font-family: 'open sans';
    background: #264653;
    width: 100%;
    height:80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top:0;
    z-index: 99999;
    transition: top 0.5s;
}



.header img{
    margin-left: 30px;
}

.items{
    display: flex;
    
}

.items li{
    list-style: none;
    margin-left: 20px;
}

.items:last-child{
    margin-right: 30px;
}

.items li a{
    color: var(--colorFuente);
    text-decoration: none;
    
}
.items li a:hover{
    color: teal;
}

.header .cta{
    /* display: inline-block; */
    background: #00b4d8;
    padding: 10px;
    border-radius: 10px;
}

.header .cta:hover{
    background: #0096c7;
    color: var(--colorFuente);
}

.sidebar h3, .lastnews{
    padding-left: 10px;
    color: white;
    border-bottom: 1px solid white;
    margin: 7px 10px 0 10px;
}

.sidebar{
    box-sizing: border-box;

}

.container-table h2{
    background: aqua;
    padding: 8px 15px;
    color: azure;
}




.alineacion li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}


.contenedor2{
    
    margin: 0 50px;
    background: rgb(207, 207, 178);
    padding: 40px;
}


.contenedor2 h3{
    background-color: var(--colorheader);
    display: inline-block;
    color: whitesmoke;
    padding: 10px;
    margin-top: 0;
}

.curia h3, .celebrations h3{
    padding-right: 90px;
}

.consideraciones h6{
    color: red;
    margin-left: 10px;
}

.consideraciones{
    margin: 10px 50px;
    font-size: 12px;
    background: rgb(238, 226, 203);
    padding: 10px;
}
.footer{
  
    height: 200px;
   
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    background: var(--colorheader);

}

.footer-image{
    width: 200px;
}

.data{
  color: white;
  font-size: 15px;  
    
}

.data p:hover, .menu-footer a:hover, .menu-footer2 a:hover{
    color: teal;
}

.menu-footer a, .menu-footer2 a{
    color: white;
    text-decoration: none;
}


.menu-footer2 li, .menu-footer li{
    list-style: none;
    margin-bottom: 10px;
}



.copyright{
    background: #192F4C ;
    text-align: center;
   font-size: 10px;  
}

.copyright p{
    margin: 0;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.schedule .day1, .day2, .day3{
    display: flex;
    justify-content: center;
}

.schedule{
    border: 1px solid black;
    margin: -39px 160px 50px 160px;
    padding-top: 36px;
    z-index: -5;
}

.day1 p, .day2 p, .day3 p{
    margin-right: 26px;

}
.day2, .day3{
    margin-left: 63px;
}

.redes a{
    text-decoration: none;
    color: rgb(248, 1, 1);
}

.redes a:hover{
    color: rgb(117, 8, 26);
}

.redes i{
    font-size: 30px;
    color: #3B5998;
    margin-right: 10px;
}
/****************************** modal ************************/

.modal-container{
    opacity: 0;
    visibility: hidden;
    position: fixed;
    z-index: 100000;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal{
    width: 50%;
    height: 70%;
    background: #ffffff;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    transition: transform 1s;
    transform: translateY(0%);
    background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
    /* overflow: hidden; */

}

.modal-close{
    transform: translateY(-200%);
}

.modal > img{
    height: 50%;
}

.close{
    position: absolute;
    top: 0;
    right: 13px;
    display: inline-block;
    text-align: center;
    width: 25px;
    height: 25px;
    background: #c44a4a;
    color: #ffffff;
    line-height: 25px;
    cursor: pointer;
    border-radius: 50%;
}

.form{
    display: flex;
    flex-direction: column;
    width: 301px;
    height: 100%;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 23px;
}

.form > input{
    width: 90%;
    height: 25px;
    font-size: 15px;
    padding-left: 20px;
    margin: 10px 0 25px 0;
    border-radius: 10px;
    border-style: none;
    background:#00bbf9 ;
    color: #ffffff;
}

.form > input:focus{
    outline: none;
    background: #028090;
   
}

.form  .word{
    margin-bottom: 22px;
}

.form .word{
    font-size: 8px;
    padding-left: 10px;
    align-items: center;
    line-height: 1px;
    color: #ffffff;
}
.form p:first-child{
    font-size: 30px;
    color: #ffffff;
    font-weight: 800;
}

.form .btn{
    background: #00bbf9 !important;
    align-items: center;
    margin-left: 10px;
    width: 155px;
}

.form .btn:hover{
    background: #028090 !important;
}

.form input::placeholder{
    color: rgba(231, 228, 228, 0.739);
    font-size: 15px;
}
.church-name{
    position: absolute;
    left: 32px;
    top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1px;
}

.church-name p{
    color: #ffffff;
    font-weight: 900;
    position: absolute;
    left: 68px;
    top: 33px;
}

.church-name .san-a{
    position: absolute;
    top: 314px;
    left: 9px;
    width: 230px;

}

@media screen and (max-width:1000px){
    

}
