<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/sticky.css">
    <link rel="stylesheet" href="css/style-ite.css">
    <title>Sobre Nosotros | Parroquia SAP</title>
    
  </head>
  <body>
      
    <header class="header">
      <nav id="navbar" class="navbar">
        <img src="img/LogoWorldAzulSINfONDO.png" alt="Logo Principal" width="100">
        <ul class="items">
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="Itinerario.html">Ofrendas</a></li>
          <li><a href="">Noticias Parroquiales</a></li>
          <li><a href="about.html">Sobre Nosotros</a></li>
          <li><a class="cta" href="#">Iniciar Sesión</a></li>
        </ul>
      </nav>
    </header>

    <div class="content">
        <div class="textos">
            <h2 class="titulo-1">Parroquia</h2>
            <h1 class="titulo"> San Antonio de Padua</h1>
            <h3 class="subtitulo">Desarrollo de sitios web</h3>
            <a href="#" class="boton">Suscribete</a>
        </div>
        <div class="sesgoabajo"></div>
        
    </div>

    <main>
        <section class="acerca-de">
            <div class="contenedor">
                <h2 class="sobre-nosotros">Sobre nosotros</h2>
                <h3 class="slogan">Tirando código en la web</h3>
                <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dicta rem hic totam necessitatibus
                    tempora animi error perferendis. Vero corrupti porro quia! Ad saepe alias, officiis voluptatem sed, odio
                    dolores neque dolorem placeat nam quia numquam soluta ipsam nostrum consequuntur, a magnam non. Tenetur
                    repudiandae distinctio inventore voluptate fugit laborum?</p>
                <p class="parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem dicta rem hic totam necessitatibus
                    tempora animi error perferendis. Vero corrupti porro quia! Ad saepe alias, officiis voluptatem sed, odio
                    dolores neque dolorem placeat nam quia numquam soluta ipsam nostrum consequuntur, a magnam non. Tenetur
                    repudiandae distinctio inventore voluptate fugit laborum?</p>
                <a href="#" class="boton">Suscribete</a>
            </div>
        </section>
        <section class="galeria">
            <div class="sesgoarriba"></div>
            <div class="imagenes none">
                <img src="img/1.jpg" alt="">
            </div>
            <div class="imagenes">
                <img src="img/3.jpg" alt="">
            </div>
            <div class="imagenes">
                <img src="img/2.jpg" alt="">
                <div class="encima">
                    <h2>MatthewRK Design</h2>
                    <div></div>
                </div>
            </div>
            <div class="imagenes">
                <img src="img/4.jpeg" alt="">

            </div>
            <div class="imagenes none">
                <img src="img/5.jpeg" alt="">
            </div>
            <div class="sesgoabajo"></div>
        </section>
        <section class="miembros">
            <div class="contenedor">
                <h2 class="sobre-nosotros">Nuestro equipo</h2>
                <h3 class="slogan">Conoce a nuestro equipo de trabajo</h3>
                <div class="cards">
                    <div class="card">
                        <img src="../View/img/LogoWorldAzulSINfONDO.png" alt="">
                        <h4>MatthewRKDesign</h4>
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <div class="card">
                        <img src="../View/img/LogoWorldAzulSINfONDO.png" alt="">
                        <h4>MatthewRKDesign</h4>
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                    <div class="card">
                        <img src="../View/img/LogoWorldAzulSINfONDO.png" alt="">
                        <h4>MatthewRKDesign</h4>
                        <p>Lorem ipsum dolor sit.</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="fondo">
            <div class="sesgoarriba"></div>
            <div class="contenedor">
                <h2 class="titulo-patrocinadores">Nuestros clientes</h2>
                <h3 class="subtitulo-patrocinadores">Conoce a algunos de nuestros patrocinadores</h3>
                <div class="clientes">
                    <div class="cliente">
                        <img src="../View/img/LogoWorldAzulSINfONDO.png" alt="">
                    </div>
                    <div class="cliente">
                        <img src="../View/img/LogoWorldAzulSINfONDO.png" alt="">
                    </div>
                    <div class="cliente">
                        <img src="../View/img/LogoWorldAzulSINfONDO.png" alt="">
                    </div>
                </div>
                <h3 class="subtitulo-patrocinadores especial">y muchos más clientes...</h3>
            </div>
            <div class="sesgoabajo-unico"></div>
        </section>
    </main>


    <footer class="footer">
        <div class="data">
          <img class="footer-image" src="img/LogoWorldAzulSINfONDO.png" alt="Logo Footer">
          <p>Contacto: <span>+57 312-746-4279</span></p>
          <p>Desarrollador: <span>Matthew ruiz Kidman</span></p>
        </div>
        <div class="menu-footer">
          <div >
            <ul >
              <li><a href="">Inicio</a></li>
              <li><a href="View/Itinerario.html">Itinerario Eucarístico</a></li>
              <li><a href="">Noticias Parroquiales</a></li>
              <li><a href="">Intenciones</a></li>
            </ul>
          </div>
        </div>
        <div class="menu-footer2">
          <div class="menu-footer">
            <ul class="items-footer">
              <li><a href="">Nuestras Politicas</a></li>
              <li><a href="">Protocolos de Bioseguridad</a></li>
              <li><a href="">Acerca de Nosotros</a></li>
            </ul>
          </div>
        </div>
      </footer>
        <div class="copyright">
          <p>Copy Right&copy; Colneting Soluciones Sabanalrga</p>
        </div>
      
    
    
        <!--******************* modal******************* -->
          <div class="modal-container">
            <div class="modal modal-close">
              <p class="close">X</p>
              <div class="church-name">
                <P>PARROQUIA</P>
                <P class="san-a">SAN ANTONIO DE PADUA</P>
              </div>
              <img src="img/iglesiaC.svg" alt="imagen modal">
              <div class="form">
                <p class="word">Inicia Sesión</p>
                <p class="word">¡Solo puede inciar sesion el personal de la parroquia!</p>
                <input class="estilo" type="text" name="user" id="user" placeholder="Ingresa Usuario"> 
                <input class="estilo" type="password" name="pass" id="pass" placeholder="Ingresa Contraseña"> 
                <input type="submit" value="ingresar" name="ingresar" class="btn">
      
              </div>
            </div>
          </div>
    
     <script src="JS/app.js"></script>
     <script src="JS/main.js"></script>
     <script src="JS/modal.js"></script>
    
      </body>
    </html>