 <div class="arancel">
        <h1>ESTIPENDIO</h1>
      </div>
      <div class="cabecera">
            <img src="view/img/descarga.jfif" alt="">
      </div>
      <div class="contenedor2">
      <div class="celebrations alineacion">
        <hr>
            <h3><strong>CELEBRACIONES</strong></h3>
            <ul>
              <li>Ofrenda para Misa en horario parroqiual       <span>30.000</span> </li>
              <li>Ofrenda para Misa en horario especia          <span>100.000</span> </li>
              <li>Ofrenda para la Misa exequial                 <span>100.000</span> </li>
              <li>Ofrenda para la Misa patronal parroquial      <span>500.000</span> </li>
              <li>Ofrenda para la Fiesta de Hermanda            <span>170.000</span> </li>
              <li>Ofrenda para el Bautismo                      <span>30.000</span> </li>
              <li>Ofrenda para las Confirmaciones               <span>25.000</span> </li>
          </ul>
        </div>

        <div class="despacho alineacion">
          <hr>
            <h3><strong>DESPACHO PARROQUIAL</strong></h3>
            <ul>
              <li>Certificados y Partidas <span>16.000</span></li>
              <li>Expediente de Bautismo mayores de 8 años <span>15.000</span></li>
              <li>Ofrenda para Matrimonio en horario parroquial <span>150.000</span></li>
              <li>Ofrenda para Matrimonio en horario especial <span>220.000</span></li>
              <li>Nihil Obstat(Visto bueno y documento para casarse en otra parroquia)<span>140.000</span> </li>
          </ul>
        </div>

        
        <div class="curia alineacion">
          <hr>
            <h3><strong>CURIA</strong></h3>
            <ul>
              <li>Autenticaciones <span>10.000</span></li>
              <li>Correcciones e inscripciones <span>15.000</span></li>
              <li>Copias y Certificados <span>10.000</span></li>
              <li>Dispensa de impedimentos <span>30.000</span></li>
              <li>Nihil Obstat cuando va para otra parroquia <span>30.000</span></li>
              <li>Itinerario para Crecer en el Amor <span>100.000</span></li>
          </ul>
        </div>
      </div>

        <div class="consideraciones">
          <h6>CONSIDERACIONES FINALES</h4>
          <ul>
            <li>El presente estipendio rige a partir del 1 de enero de 2019</li>
            <li>Este estipendio debe observarse estrictamente y su aplicacion es signo de Comunión Espiritual</li>
            <li>Los párrocos velarán para que toda personaen condición de pobreza, que no pueda dar una ofrenda, reciba 
              con dignidad los Sacramentos
            </li>
            <li>Cualquier Inquietud de los fieles al respecto, la pueden hacer llegar a la Curia Arquidiocesana</li>
            <li>El sobrecosto por uso del aire acondicionado deberá ser muy moderado</li>
          </ul>
        </div>