<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/style-ite.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
    <title>Estipendios | Parroquia San Antonio</title>
    
  </head>
<body>
    <header class="header">
      <nav id="navbar" class="navbar">
        <img src="img/LogoWorldAzulSINfONDO.png" alt="Logo Principal" width="100">
        <ul class="items">
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="Itinerario.html">Ofrendas</a></li>
          <li><a href="">Noticias Parroquiales</a></li>
          <li><a href="about.html">Sobre Nosotros</a></li>
          <li><a class="cta" href="">Iniciar Sesión</a></li>
        </ul>
      </nav>
    </header>
    <!-- <div class="live">
      <div class="anuncio">
        <img src="" alt="">
        <h2>Transmisión en Vivo</h2>
      </div>
          <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmatthewruizkidman%2Fvideos%2F10214173015198005%2F&width=640" width="640" height="480" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe> 
    </div> -->
      <div class="arancel">
        <h1 class="payments">ESTIPENDIO</h1>
        <img src="img/descarga.jfif" alt="">
    </div>
<div class="contenedor2">
  <div class="celebrations alineacion">
    <hr>
    <h3><strong>CELEBRACIONES</strong></h3>
     <ul>
        <li>Ofrenda para Misa en horario parroqiual       <span>30.000</span> </li>
        <li>Ofrenda para Misa en horario especia          <span>100.000</span> </li>
        <li>Ofrenda para la Misa exequial                 <span>100.000</span> </li>
        <li>Ofrenda para la Misa patronal parroquial      <span>500.000</span> </li>
        <li>Ofrenda para la Fiesta de Hermanda            <span>170.000</span> </li>
        <li>Ofrenda para el Bautismo                      <span>30.000</span> </li>
        <li>Ofrenda para las Confirmaciones               <span>25.000</span> </li>
      </ul>
  </div>

        <div class="despacho alineacion">
          <hr>
            <h3><strong>DESPACHO PARROQUIAL</strong></h3>
            <ul>
              <li>Certificados y Partidas <span>16.000</span></li>
              <li>Expediente de Bautismo mayores de 8 años <span>15.000</span></li>
              <li>Ofrenda para Matrimonio en horario parroquial <span>150.000</span></li>
              <li>Ofrenda para Matrimonio en horario especial <span>220.000</span></li>
              <li>Nihil Obstat(Visto bueno y documento para casarse en otra parroquia)<span>140.000</span> </li>
          </ul>
        </div>

        
        <div class="curia alineacion">
          <hr>
            <h3><strong>CURIA</strong></h3>
            <ul>
              <li>Autenticaciones <span>10.000</span></li>
              <li>Correcciones e inscripciones <span>15.000</span></li>
              <li>Copias y Certificados <span>10.000</span></li>
              <li>Dispensa de impedimentos <span>30.000</span></li>
              <li>Nihil Obstat cuando va para otra parroquia <span>30.000</span></li>
              <li>Itinerario para Crecer en el Amor <span>100.000</span></li>
          </ul>
        </div>
      </div>

        <div class="consideraciones">
          <h6>CONSIDERACIONES FINALES</h4>
          <ul>
            <li>El presente estipendio rige a partir del 1 de enero de 2019</li>
            <li>Este estipendio debe observarse estrictamente y su aplicacion es signo de Comunión Espiritual</li>
            <li>Los párrocos velarán para que toda personaen condición de pobreza, que no pueda dar una ofrenda, reciba 
              con dignidad los Sacramentos
            </li>
            <li>Cualquier Inquietud de los fieles al respecto, la pueden hacer llegar a la Curia Arquidiocesana</li>
            <li>El sobrecosto por uso del aire acondicionado deberá ser muy moderado</li>
          </ul>
        </div>
        <footer class="footer">
          <div class="data">
            <img class="footer-image" src="img/LogoWorldAzulSINfONDO.png" alt="Logo Footer">
            <p>Contacto: <span>+57 312-746-4279</span></p>
            <p>Desarrollador: <span>Matthew ruiz Kidman</span></p>
          </div>
          <div class="menu-footer">
            <div >
              <ul >
                <li><a href="">Inicio</a></li>
                <li><a href="View/Itinerario.html">Itinerario Eucarístico</a></li>
                <li><a href="">Noticias Parroquiales</a></li>
                <li><a href="">Intenciones</a></li>
              </ul>
            </div>
          </div>
        <div class="menu-footer2">
          <div class="menu-footer">
            <ul class="items-footer">
              <li><a href="">Nuestras Politicas</a></li>
              <li><a href="">Protocolos de Bioseguridad</a></li>
              <li><a href="">Acerca de Nosotros</a></li>
            </ul>
          </div>
        </div>
      </footer>
        <div class="copyright">
          <p>Copy Right&copy; Colneting Soluciones Sabanalrga</p>
        </div>

        <!--******************* modal******************* -->
        <div class="modal-container">
          <div class="modal modal-close">
            <p class="close">X</p>
            <div class="church-name">
              <P>PARROQUIA</P>
              <P class="san-a">SAN ANTONIO DE PADUA</P>
            </div>
              <img src="img/iglesiaC.svg" alt="imagen modal">
            <div class="form">
              <p class="word">Inicia Sesión</p>
              <p class="word">¡Solo puede inciar sesion el personal de la parroquia!</p>
              <input class="estilo" type="text" name="user" id="user" placeholder="Ingresa Usuario"> 
              <input class="estilo" type="password" name="pass" id="pass" placeholder="Ingresa Contraseña"> 
              <input type="submit" value="ingresar" name="ingresar" class="btn">
    
            </div>
          </div>
        </div>
  
        <script src="js/main.js"></script>
        <script src="js/modal.js"></script>

      </body>
    </html>